<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= product.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= product.image %>" >
            <div class="content">
                <span><%= product.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- product.body %></p>
            </div>
            <div class="price">
                <p><%- product.price %></p>
            </div>
            <a class="ui orange basic button" href="/products/<%= product._id %>/edit">Edit</a>
            <form id="delete" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
    
</div>
<% include ../partials/footer %>

